# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### Using 'in' keyword

##### Continue Statement

##### Break Statement

##### Pass Statement

##### Double For Loops

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

##### looping 'While True'

##### While & For Loops Used Together

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

Connor Max Evan Jordan None

## Lists

##### Declaring Lists

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']

##### Indexing a List

Austin
['Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin']
['Tenzin', 'Dylan']
['Mohammad', 'Dylan', 'Austin', 'Tenzin', 'Ryan']

### List Methods

##### .append()

In [1]:
#append add tot the back of the list
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

names.append('Ben')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben']

In [3]:
print(names[:2:-1])

['Ben', 'Desiree', 'Manja']

In [4]:
names.append('Fabian')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben', 'Fabian']

In [8]:
names = ['    coNNor', 'max', ' Evan', 'JORDAN']

title_list = []
for name in names:
    title_list.append(name.title().strip())

    print(title_list)

['Connor']
['Connor', 'Max']
['Connor', 'Max', 'Evan']
['Connor', 'Max', 'Evan', 'Jordan']

##### .insert()

In [9]:
# takes in an element, and an index
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

names.insert(3,"Ryan")
print(names)

['Alex', 'Lyle', 'Chuck', 'Ryan', 'Manja', 'Desiree']

In [10]:
new_data = [5,6,1, 10, 11,334,12,123]
new_data.insert(2,56)

print(new_data)

[5, 6, 56, 1, 10, 11, 334, 12, 123]

In [12]:
print(len(new_data))
print(range(len(new_data)))

9
range(0, 9)

In [13]:
for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])
    
print(new_data)

[5, 6, 56, 'Ryan', 1, 10, 11, 334, 12, 123]

##### .pop()

In [20]:
#pop will by default will remove the last item in a list
# otherwise it takes an index and will pop out the value at that index
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]
bye_bye_name = names.pop(3)
print(bye_bye_name)

print(names.pop())
print(names)

other_list = []
other_list.append(names.pop())
print(other_list)
print(names)

Manja
Desiree
['Alex', 'Lyle', 'Chuck']
['Chuck']
['Alex', 'Lyle']

##### .remove()

In [21]:
# remove by specific value -. my_list.remove(element)
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [22]:
names.remove('Bob')
print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [25]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
for name in names:
    if name == 'Bob':
        names.remove('Bob')
print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [26]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
# for i in range(len(names)):
#     if names[i] == "Bob":
#         names.remove(names[i])
# print(names)

IndexError: list index out of range

In [27]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
print(names)
while 'Bob' in names:
    names.remove('Bob')
    
print(names)

['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bert']

### Working With Lists

##### del()

In [31]:
# another way to delete items - it's by index
# this can indexing errors
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
del(names[1])
print(names)
del(names[0])
print(names)
del(names)
# print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

##### min()

In [34]:
#returns the smallest item in list
numbers = [1,2,3,4,56]
print(min(numbers))

names=['Alfonso','Gilbert','Chad','Zorph', 'aname']
print(min(names))

1
Alfonso

##### max()

In [36]:
#returns the largest item from a list
numbers=[23,45,63,12,43,1000001]
print(max(numbers))

names=['Alfonso','Gilbert','Chad','Zorph', 'Aname']
print(max(names))

1000001
Zorph

##### sum()

In [37]:
# returns the sum of all numbers in a list
numbers = [1,2,3,4,56]
print(sum(numbers))

66

##### sorted()

In [38]:
numbers=[5,1,17,12,9,6,20,3]
sorted_nums = sorted(numbers)
print(sorted_nums)
print(numbers)

[1, 3, 5, 6, 9, 12, 17, 20]
[5, 1, 17, 12, 9, 6, 20, 3]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

numbers=[5,1,17,12,9,6,20,3]
print(numbers)

In [45]:
numbers=[5,1,17,12,9,6,20,3]

numbers.sort()
print(numbers)

[1, 3, 5, 6, 9, 12, 17, 20]
None

##### Copying a List

In [46]:
# [:] copy a list, doesn't alter the original
numbers=[5,1,17,12,9,6,20,3]
print(numbers)

new_list = numbers[:]
print(new_list)

[5, 1, 17, 12, 9, 6, 20, 3]
[5, 1, 17, 12, 9, 6, 20, 3]

In [47]:
another_list = []

for num in numbers:
    another_list.append(num)

print(numbers)
print(another_list)

[5, 1, 17, 12, 9, 6, 20, 3]
[5, 1, 17, 12, 9, 6, 20, 3]

In [48]:
my_string = 'cool beans'

new_string = my_string[:]

print(new_string)

cool beans

##### Looping Through Lists

In [55]:
#looping by value
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
for name in names:
    print(name)
    
for name in names:
    if name == "Han Solo":
        print(name)
print("\n")   
#looping by index
for i in range(len(names)):
    print(names[i])

print("\n")

for i in range(len(names)):
    if names [i] == "Leia Organa":
        print(names[i])

print("\n")       
#enumerate

for i,v in enumerate(names):
    print(i,v)
    
print("\n")

for i, v in enumerate(names):
    if v == "Mace Windu":
        print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
Han Solo


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Leia Organa


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


4

In [14]:
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

for name in names:
    for letter in name:
        print(letter)

H
a
n

S
o
l
o
L
e
i
a

O
r
g
a
n
a
L
u
k
e

S
k
y
w
a
l
k
e
r
L
a
n
d
o

C
a
l
r
i
s
s
i
a
n
M
a
c
e

W
i
n
d
u

##### 'in' keyword

In [56]:
#specifying list that we are iterating through
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Ethan" in names:
    print("Ranger")
else:
    print("not a ranger")

Ranger

nope
nope
Tenzin
nope
nope
nope

IndentationError: expected an indented block (2703666223.py, line 3)

##### 'not in' keyword

In [57]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Frederick" not in names:
    print ("booo not a ranger")
else:
    print("Great job being a ranger, frederick")

booo not a ranger

##### Checking an Empty List

In [59]:
our_list =[]

if our_list ==[]:
    print("welp that's empty")
else:
    print("there is stuff in there")

welp that's empty

##### Removing Instances with a Loop

In [60]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]

while "Alex" in names:
    names.remove('Alex')
print(names)

['Abdel', 'Swan', 'Ethan', 'Hyun-Tae']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [62]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: you might need an append
# Hint 2: you might need an empty list
# Hint 3: are you actually removing...
new_list = []

for  i in range(len(names)):
    if names[i] not in new_list:
        new_list.append(names[i])

print(new_list)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [70]:
nums = [2, 4, 6, 8, 10, 3, 5, 7, 9, 11]
nums_squared = []
#for loop way
for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

#list comprehension way
num_squared = [num**2 for num in nums]
print(num_squared)

#list comprehension with conditional
more_squared = [num**2 for num in nums if num%2 ==0]
print(more_squared)

[4, 16, 36, 64, 100, 9, 25, 49, 81, 121]
[4, 16, 36, 64, 100, 9, 25, 49, 81, 121]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [75]:
pets = ['elliot', 'eyo', 'henri', 'lucy', 'eyeball', 'astro', 'jimmy', 'kino', 'pi', 'penny']
letter_names = [name[0] for name in pets if name[0] != 'e']

print(letter_names)

['h', 'l', 'a', 'j', 'k', 'p', 'p']

In [72]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [83]:
#cannot add or remove things from the tuple
#declaring tuples
tup_1 = (1, 2, 3)
tup_2 = 4, 5, 6

print(tup_1)
print(tup_2)

print(type(tup_1))

#indexing into a tuple
print(tup_1[0])
print(tup_2[1])

#length of a tuple
print("tuple length", len(tup_2))

#iterating through a tuple
for num in tup_1:
    print(num)
print("\n")
for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
1
5
tuple length 3
1
2
3


4
5
6

##### sorted()

In [92]:
tup = (20, 5, 1, 10, 95, 123)
# print(sorted(tup))
sorted_tup_list = sorted(tup)
print(sorted_tup_list)

sorted_tup = tuple(sorted_tup_list)
print(sorted_tup)

print(tuple(sorted(tup)))

some_list = [5, 12, 654, 234, 64, 12]

# combine_list = some_list + tup

new_tup = tuple(some_list)

print(new_tup)

new_new_tup = tup + new_tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)
(1, 5, 10, 20, 95, 123)
(5, 12, 654, 234, 64, 12)
(20, 5, 1, 10, 95, 123, 5, 12, 654, 234, 64, 12)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [86]:
tup = (20, 54, 60, 23, 11)
print(tup)
my_tup = tuple()
print(tup)
print(my_tup)

tup = tup + (6,)

print(tup)
#help(tuple)

(20, 54, 60, 23, 11)
(20, 54, 60, 23, 11)
()
(20, 54, 60, 23, 11, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [13]:
alist = [1,11,14,5,8,9]

alist_less_than_10 = []

for n in range(len(alist)):
    if alist[n] < 10:
        alist_less_than_10.append(alist[n])
        
print(alist_less_than_10)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [2]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

merged_list = l_1 + l_2
print(merged_list)

merged_list.sort()
print("\n")
print(merged_list)

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 10]


[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [10]:
list_1_to_15 = list(range(16))
del(list_1_to_15[0])
print(list_1_to_15)

list_1_to_15_squared = [n**2 for n in list_1_to_15]
print(list_1_to_15_squared)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [29]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']

new_list = [name.strip() for name in names_list]
# print(new_list)

newest_list = [name.title() for name in new_list]
# print(newest_list)

final_list=[]

for i in range(len(newest_list)):
    if newest_list[i] != '':
        temp_string = newest_list[i]
        if temp_string[0] == 'A':
            final_list.append(newest_list[i])
                       
print(final_list)

#expected output = ['Amy', 'Alex']

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [68]:
numbers = list(range(101))
del(numbers[0])
# print(numbers)

prime_numbers=[]
not_prime_numbers=[]

numbers[5] % numbers[2]

for num in range(len(numbers)):
    for divisor in range(len(numbers)):
        if numbers[num] % numbers[divisor] ==0 and (numbers[num] != numbers[divisor] and numbers[divisor] !=1):
            if numbers[num] not in not_prime_numbers:
                not_prime_numbers.append(numbers[num])
                
for num in range(len(numbers)):
    if (numbers[num] not in not_prime_numbers and numbers[num] != 1) or numbers[num]==2:
        prime_numbers.append(numbers[num])
        
# print(not_prime_numbers)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]